/* pc */
@media only screen and (min-width: 1024px) {
   
}

/* tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    #content .content-section{
        width: 948px;
    }

}

/* mobile */
@media only screen and (max-width: 739px) {
    #nav > li {
        display: block;
    }

    #header .search {
        display: none;
    }
    
    
}